@include media-breakpoint-up(lg) {
  // large

  #graph-container {
      height: 700px;
  }


  .select-word {
    overflow-y: auto;
    max-height: 270px;
    width: 100%;
    border: 1px solid black;
    font-size: 16px;
    color: black;
    padding: 10px;
  }

  // .grafo-gn-canvas {
  //   width: 85%;
  // }

  // .grafo-gn-words {
  //   width: 15%;
  // }

}
