@include media-breakpoint-up(md) {
  // medium

  .grafo-gn {
    h1 {
      font-size: 4.875em; // 195px
    }
    h2 {
      font-size: 22px;
    }
    p {
      font-size: 16px;
    }
  }

  .p-gn {
    padding-left: 50px;
  }

}
