// xsmall
body {
  font-family: 'Roboto Mono', monospace;
  // color: white;
  font-size: 14px;
  // background: $grey;
}

#graph-container {
    width: 100%;
    height: 400px;
    background-color: #f9f9f9;
}

.grafo-gn {
  margin-top: 50px;
  // display: flex;
  }
  h1 {
    font-size: 2.85em; // 40px
    text-align: center;
  }
  h2 {
    font-size: 2.85em; // 40px
    text-decoration: underline;
    text-align: center;
  }
  p {
    line-height: 1em;
  }
  a:link, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
  }

  /* CSS talk bubble */
  .talk-bubble {
  	// margin: 40px;
    display: inline-block;
    position: relative;
  	width: 220px;
  	height: auto;
  	background-color: white;
    color: black;
    // border: 1px solid black;
    font-size: 14px;
  }
  .border{
    border: 1px solid #666;
  }

  /*Right triangle, placed bottom left side slightly in*/
  .tri-right.border.btm-left:before {
  	content: ' ';
  	position: absolute;
  	width: 0;
  	height: 0;
  	left: -8px;
    right: auto;
    top: auto;
  	bottom: -40px;
  	border: 32px solid;
  	border-color: transparent transparent transparent #666;
  }
  .tri-right.btm-left:after{
  	content: ' ';
  	position: absolute;
  	width: 0;
  	height: 0;
  	left: 0px;
    right: auto;
    top: auto;
  	bottom: -20px;
  	border: 22px solid;
  	border-color: transparent transparent transparent white;
  }

  /* talk bubble contents */
  .talktext{
    padding: 1em;
  	text-align: left;
    line-height: 1.5em;
  }
  .talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }

  // img
  // .bg-img {
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  // }

  .bg-img {
    object-fit: cover;
    object-position: center center;
  }

  .img-perfil {
    width: 45px;
    height: 65px;
  }

  .link-perfil:hover {
    text-decoration: underline;
  }

  .select-word {
    overflow-y: auto;
    max-height: 400px;
    width: 100%;
    border: 1px solid $dark-grey;
    color: $dark;
    padding: 10px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: $dark-grey;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $dark-grey;
  }

  .grafo-word {
    color: $dark;
    width: 100%;
    font-size: 16px;
    &:hover {
      background-color: $dark-grey;
      cursor: pointer;
    }
  }

  .types {
    font-size: 16px;
    color: $dark-grey;
  }

  .circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    &.blue {
      background-color: $blue;
    }
    &.red {
      background-color: $red;
    }
    &.yellow {
      background-color: $yellow;
    }
  }

// checkbox

.checkbox {
  padding-left: 20px;
  cursor: pointer;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  cursor: pointer;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top: 4px;
  margin-left: -20px;
  border: 1px solid $dark;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

// .checkbox label::after {
//   display: inline-block;
//   position: absolute;
//   width: 16px;
//   height: 16px;
//   left: 0;
//   top: 0;
//   margin-left: -20px;
//   padding-left: 3px;
//   padding-top: 4px;
//   font-size: 11px;
//   color: #555555;
// }

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// .checkbox input[type="checkbox"]:checked + label::after {
//   font-family: 'FontAwesome';
//   content: "\f00c";
// }

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: $red;
  border-color: $red;
}

.checkbox-secondary input[type="checkbox"]:checked + label::before {
  background-color: $yellow;
  border-color: $yellow;
}

.checkbox-tertiary input[type="checkbox"]:checked + label::before {
  background-color: $blue;
  border-color: $blue;
}

.checkbox-words input[type="checkbox"]:checked + label::before {
  background-color: $dark;
  border-color: $dark;
}

// .checkbox-primary input[type="checkbox"]:checked + label::after {
//   color: #fff;
// }

.label-grafo {
  color: $dark;
  font-size: 16px;
  margin-bottom: 0px;
}

.input-grafo {
  position: absolute;
}
